<h1>Application from {{user.id}}</h1>

<h2>Parent's Name:</h2>
{{user.parentName}} 
<h2>Parent's Email Address:</h2>
{{user.emailAddress}} 
<h2>Child's Name</h2>
{{user.childName}}
<h2>Child's Eye Condition:</h2>
{{user.childCondition}}
<h2>Why do you want to join this group?</h2>
{{user.parentReason}}