<h1>All Stories</h1>

<hr> 

<div>
    {{#each usersFromDB}}
        <div>
        <img src="{{this.childImage}}">
        <h3>{{this.childName}}</h3>
        <h3>{{this.childAge}}</h3>
        <h3>{{this.childCondition}}</h3>
        <h3>{{this.childEye}}</h3>

        <div>
        <a href="/stories/{{this.story}}"><button>See Full Story</button></a>
        </div>

        </div>
        <br />
    {{/each}}

</div>