
<div class="nav-bar">
    <div class="nav-logos">
<img src="/images/logo.png" class="logo-inner" alt="">
<img src="/images/tagline.png" class="tagline-inner" alt="">
    </div>
    <div class="nav-links">
<a href="http://www.laurenseyes.com" class="btn-link nav-link" style="text-decoration: none">TLE Home </a>
<a href="/stories" class="btn-link nav-link" style="text-decoration: none">Stories </a>
<a href="/users" class="btn-link nav-link" style="text-decoration: none">Dashboard </a>
<a href="/logout" class="btn-link nav-link" style="text-decoration: none">Logout </a>
</div>
</div>

<div class="story-page-content">
    {{#each usersFromDB}}
    <div class="story-container-sm">

        <div class="img-container">
        <div class="img">
        <img src="{{this.childImage}}">
        </div>
        </div>

        <div class="login-column">
        <span class="label-full">Name</span><span class="apply-input">{{this.childName}}</span>
        </div>

        <div class="login-column">
        <span class="label-full">Age</span><span class="apply-input">{{this.childAge}}</span>
        </div>

        <div class="login-column">
        <span class="label-full">Eye Condition</span><span class="apply-input">{{this.childCondition}}</span>
        </div>

        <div class="login-column">
        <span class="label-full">Eye Condition</span><span class="apply-input">{{this.childEye}}</span>
        </div>

        <div>
        <a href="/stories/{{this.story}}" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">See Full Story</button></a>
        </div>

    
        </div>
        <br />
    {{/each}}

</div>

