<div>
{{user.parentImage}}
{{user.parentName}}
{{user.familyLocation}}
</div>

<div>
{{user.childImage}}
{{user.childName}}
{{user.childAge}}
{{user.childCondition}}
{{user.childEye}}
</div>

<button>View All Stories</button>

<div>
<h2>Tell us about your child's eye condition and need for artificial eyes:</h2>
<span>{{story.question1}}</span>
<h2>How has your experience been with medical eye care: pediatric opthamologists, neonatal surgeons, oculoplastic surgeons, ocularists, etc?</h2>
<span>{{story.question2}}</span>
<h2>What challenges has your child's eye condition encouraged your family to face?</h2>
<span>{{story.question3}}</span>
<h2>What has it been like to socialize your child? Difficulties? Success stories?</h2>
<span>{{story.question4}}</span>
<h2>Is your child in school? What has that experience been like?</h2>
<span>{{story.question5}}</span>
<h2>Share a funny/silly/quirky artificial eye story (we all have them!):</h2>
<span>{{story.question6}}</span>
<h2>Did your child undergo eye surgery? If so, what was that experience like? If not, why not? Was there a non-surgical alternative to treatment?</h2>
<span>{{story.question7}}</span>
<h2>Have you or your child met other children and parents that are using artificial eyes?</h2>
<span>{{story.question8}}</span>
<h2>If you can, please share a message to new parents of children needing artificial eyes. What advice could you give them? What do you wish you knew back then, when your child was first diagnosed?</h2>
<span>{{story.question9}}</span>
<h2>Have we missed any part of your story? Please feel free to share anything else in the space below:</h2>
<span>{{story.question10}}</span>
</div>