<div class="title-bar">
    <h1>Welcome to your Account Dashboard!</h1>
</div>

<hr>
<br>

<div class="account-info">
    <div class="section-title">
    <h2>PARENT INFO</h2>
    </div>
    {{user.parentImage}}
    <h2>Full Name: {{user.parentName}}</h2>
    <h2>Location: {{user.familyLocation}}</h2>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>CHILD INFO</h2>
    </div>
    {{user.parentImage}}
    <h2>Full Name: {{user.childName}}</h2>
    <h2>Age: {{user.childAge}}</h2>
    <h2>Eye Condition: {{user.childCondition}}</h2>
    <h2>Eye Affected: {{user.childEye}}</h2>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>ACCOUNT INFO</h2>
    </div>
    <h2>Username: {{user.username}}</h2>
    <h2>Password: {{user.password}}</h2>
</div>

<button>EDIT INFO</button>


