<div class="title-bar">
    <h1>Welcome to your Account Dashboard!</h1>
</div>

<hr>
<br>

<div class="account-info">
    <div class="section-title">
    <h2>PARENT INFO</h2>
    </div>
    {{theUser.parentImage}}
    <h2>Full Name: {{theUser.parentName}}</h2>
    <h2>Location: {{theUser.familyLocation}}</h2>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>CHILD INFO</h2>
    </div>
    {{theUser.parentImage}}
    <h2>Full Name: {{theUser.childName}}</h2>
    <h2>Age: {{theUser.childAge}}</h2>
    <h2>Eye Condition: {{theUser.childCondition}}</h2>
    <h2>Eye Affected: {{theUser.childEye}}</h2>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>ACCOUNT INFO</h2>
    </div>
    <h2>Username: {{theUser.username}}</h2>
    <h2>Password: {{theUser.password}}</h2>
</div>

<button>EDIT INFO</button>


