
<div class="nav-bar">
    <div class="nav-logos">
<img src="/images/logo.png" class="logo-inner" alt="">
<img src="/images/tagline.png" class="tagline-inner" alt="">
    </div>

<a href="/stories" class="btn-link" style="text-decoration: none">Stories </a>
<a href="/users/account" class="btn-link" style="text-decoration: none">Account </a>
<a href="/logout" class="btn-link" style="text-decoration: none">Login </a>
</div>

<div class="title-bar">
    <h2>Welcome back,</h2><span class="welcome"> {{theUser.username}}</span>
</div>

<div class="page-content">

<div class="container-info">
    <div class="img-container">
    <div class="img">
    <img src="{{theUser.parentImage}}">
    </div>
    </div>
    
    <div class="section-title">
    <span class="page-title">Parent Information</span>
    </div>

    <div class="login-column">
    <span class="label-full">Full Name</span><span class="apply-input">{{theUser.parentName}}</span>
    </div>

    <div class="login-column">
    <span class="label-full">Location</span><span class="apply-input">{{theUser.familyLocation}}</span>
    </div>

    <div class="login-column">
    <span class="label-full">Username</span><span class="apply-input">{{theUser.username}}</span>
    </div>

     <div class="login-column">
    <span class="label-full">Password</span><span class="apply-input">*******</span>
    </div>

    <a href="/users/edit-parent/{{theUser.id}}" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">EDIT PARENT INFO</button></a>
</div>

<div class="container-info">
    
    <div class="img-container">
    <div class="img">
    <img src="{{theUser.childImage}}">
    </div>
    </div>

    <div class="section-title">
    <span class="page-title">Child Information</span>
    </div>

    <div class="login-column">
    <span class="label-full">Full Name</span><span class="apply-input">{{theUser.childName}}</span>
    </div>

    <div class="login-column">
    <span class="label-full">Age</span> <span class="apply-input"> {{theUser.childAge}}</span>
    </div>
    
    <div class="login-column">
    <span class="label-full">Eye Condition</span><span class="apply-input">  {{theUser.childCondition}}</span>
    </div>

    <div class="login-column">
    <span class="label-full">Eye Affected </span><span class="apply-input"> {{theUser.childEye}}</span>
    </div>
    
    <a href="/users/edit-child/{{theUser.id}}" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">EDIT CHILD INFO</button></a>
</div>

</div>
