<div class="title-bar">
    <h1>Welcome to your Account Dashboard!</h1>
     <form action="/users/delete/{{theUser._id}}" method="POST"><button>DELETE ACCOUNT</button></form>
    <a href="/logout"><button>LOGOUT</button></a>
    <a href="/stories"><button>SEE ALL STORIES</button></a>
</div>

<hr>
<br>

<div class="account-info">
    <div class="section-title">
    <h2>PARENT INFO</h2>
    </div>
    <img src="{{theUser.parentImage}}">
    <h2>Full Name: {{theUser.parentName}}</h2>
    <h2>Location: {{theUser.familyLocation}}</h2>
    <h2>Username: {{theUser.username}}</h2>
    {{!-- <h2>Password: {{theUser.password}}</h2> --}}
    <a href="/users/edit-parent/{{theUser.id}}"><button>EDIT PARENT INFO</button></a>
</div>
<hr>
<br>
<div class="account-info">
    <div class="section-title">
    <h2>CHILD INFO</h2>
    </div>
    <img src="{{theUser.childImage}}">
    <h2>Full Name: {{theUser.childName}}</h2>
    <h2>Age: {{theUser.childAge}}</h2>
    <h2>Eye Condition: {{theUser.childCondition}}</h2>
    <h2>Eye Affected: {{theUser.childEye}}</h2>
    <a href="/users/edit-child/{{theUser.id}}"><button>EDIT CHILD INFO</button></a>
</div>

<hr>
<br>


